<html>

            <head>

                        <title>Meu currículo virtual</title>

            </head>

 

            <body>

                        <p><b>DADOS PESSOAIS:</b>

                        <br><hr>

 

                        <br><b>Nome:</b> [digite seu nome aqui]

                        <br><b>E-mail:</b> [digite seu e-mail aqui]

                        <br><b>Sexo:</b> [digite seu sexo aqui]

                        <br><b>Estado Civil:</b> [digite seu estado civil aqui]

                        <br><b>Data de nascimento:</b> [digite sua data de nascimento aqui]

                        <br><b>Cidade:</b> [digite o nome da sua cidade aqui]

                        <br><b>Endereço:</b> [digite seu endereço aqui]

                        <br><b>Bairro:</b> [digite o nome do seu bairro aqui]

                        <br><b>CEP:</b> [digite seu CEP aqui]

                        <br><b>Telefone Residencial:</b> [digite aqui o número do seu telefone residencial]

                        <br><b>Celular:</b> [digite aqui número do seu celular]

                        <p>&nbsp;

                        <p><b>ÁREA DE ATUAÇÃO:</b>

                        <br><hr>

 

                        <br><b>Nível de atuação:</b> [digite aqui seu nível de atuação no mercado de trabalho]

                        <br><b>Faixa Salarial:</b> [digite aqui sua pretensão salarial]

                        <br><b>Forma de Contratação:</b> [digite aqui sua pretensão de forma de contratação, exemplo: estágio]

                        <br><b>Horário disponível:</b> [digite aqui seu horário disponível para trabalhar]

                        <p>&nbsp;

 

                        <p><b>OUTROS DADOS:</b>

        <br><hr>

                        <br><b>Possui automóvel?</b> [coloque aqui sua resposta]

                        <br><b>Fumante?</b> [coloque aqui sua resposta]

                        <br><b>Pratica esporte?</b> [coloque aqui sua resposta]

                        <br><b>Qual esporte:</b> [coloque aqui sua resposta]

                        <br><b>Está empregado?</b> [coloque aqui sua resposta]

                        <br><b>Portador de necessidades especiais?</b> [coloque aqui sua resposta]

                        <br><b>Qual necessidade:</b> [coloque aqui sua resposta]

                        <br><b>Disponibilidade para trabalhar em outra cidade/país?</b> [coloque aqui sua resposta]

                        <br><b>Religião:</b> [coloque aqui sua resposta]

                        <p>&nbsp;

 

                        <p><b>FORMAÇÃO ACADÊMICA:</b>

                        <br><hr>

                        <br><p><b>Nível de escolaridade:</b> [coloque aqui sua resposta]

                        <br><b>Curso/área:</b> [coloque aqui sua resposta]

                        <br><b>Instituição:</b> [coloque aqui sua resposta]

                        <br><b>Ano de Conclusão:</b> [coloque aqui sua resposta]

                        <p>&nbsp;

                        <p><b>EXPERIÊNCIA PROFISSIONAL:</b>

                        <br><hr>

                        <br><b>Ramo de Atividade:</b> [coloque aqui sua resposta]

                        <br><b>Organização:</b> [coloque aqui sua resposta]

                        <br><b>Data de Admissão:</b> [coloque aqui sua resposta]

                        <br><b>Data da Dispensa:</b> [coloque aqui sua resposta]

                        <br><b>Nº de funcionários:</b> [coloque aqui sua resposta]

                        <br><b>Função:</b> [coloque aqui sua resposta]

                        <br><b>Responsabilidades:</b> [coloque aqui sua resposta]

</body>

</html>